   <div class = "leftpane">
    <form  (ngSubmit) = "onSubmit()">
  
        <div class="form-group">
            <label>SeedName </label>
            <input type="text" class="form-control" id="insname" 
             name="insName" [(ngModel)]="seedDetails.commonName"/>   
        </div>
        <div class="form-group">
            <label>bloomTime</label>
            <input type="text" class="form-control" id="inssalary" 
             name="inssalary" [(ngModel)]="seedDetails.bloomTime"/>
        </div>
        
        <div class="form-group">
            <label> watering</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.watering"/>
        </div>
        <div class="form-group">
            <label> difficultyLevel</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.difficultyLevel"/>
        </div>
        
        <div class="form-group">
            <label> temparature</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.temparature"/>
        </div>
        
        <div class="form-group">
            <label>typeOfSeeds</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.typeOfSeeds"/>
        </div>
        
        <div class="form-group">
            <label>seedsDescription</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.seedsDescription"/>
        </div>
        <div class="form-group">
            <label> seedsStock</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.seedsStock"/>
        </div>
        <div class="form-group">
            <label>seedsCost</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.seedsCost"/>
        </div>
        <div class="form-group">
            <label>seedsPerPacket</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="seedDetails.seedsPerPacket"/>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" id="insjoining" 
             name="insjoining"/>
        </div>
       
        <div class="card-footer text-muted">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        
         
    </form>
  
</div>

